/* iphone SE view */

@media only screen and (max-width:359px){

  html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
  #header #header_logo{width:220px;}
  .yandex-counter{display: none;}
  .yandex-count-mobile{
      display: block;
      margin: 0 0 20px 15px;
    }
  #header #header_logo img{height:auto;}
  #header #header_right{padding-top:220px;}
  a.acc_box{display:none;}
  .blockuserinfo{right:7px;top:40px;}
  #countries_2 .countries_ul, #setCurrency .currencies_ul{width:140px;text-align:left;}
  .blockpermanentlinks-header{position:absolute;left:0;top:0px;width:100%;border-radius:0 0 4px 4px;overflow:visible;}
  .mobile-link-top{display:block;float:left;padding:3px 15px;height:32px;}
  .mobile-link-top h4{margin:0;}
  .mobile-link-top h4 .arrow_header_top_menu.arrow_header_top{display:block;position:static;margin:0px auto 0 auto;font-size:21px;text-align:center;}
  body#index a.header_links_home, #sitemap a.header_links_sitemap, #contact a.header_links_contact, #cms a.header_links_delivery, #stores a.header_links_store{color:#979797;}
  #mobilelink{display:none;list-style:none;width:140px;position:absolute;top:32px;left:15px;z-index:101;}
  #mobilelink a{text-transform:capitalize;}
  #search_block_top{right:0px;top:165px;width:100%;padding:10px;border-radius:4px;background:#23518B;/* background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #474646 0%, #343434 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #474646), color-stop(100%, #343434));background:-webkit-linear-gradient(top, #474646 0%, #343434 100%);background:-o-linear-gradient(top, #474646 0%, #343434 100%);background:-ms-linear-gradient(top, #474646 0%, #343434 100%);background:linear-gradient(to bottom, #474646 0%, #343434 100%); */}
  #search_block_top input.search_query{width:100%;padding-right:53px;border-radius:0;}
  #search_block_top a{margin-left:-50px;width:50px;position:relative;z-index:1;border-radius:0;}
  #search_block_top a span{display:none;}
  #search_block_top a i{display:inline-block;font-size:16px;line-height:30px;}
  .alert_cart{background:#000;width:310px;position:fixed;left:50%;top:0;margin-left:-155px;z-index:9998;}
  .alert_cart a{display:block;padding:21px 40px 22px 50px;height:85px;font-size:12px;color:#fff;font-weight:bold;position:relative;z-index:9997;}
  .alert_cart a:hover{color:#a9a9a9;}
  .alert_cart span{background:url(../img/delete_top.png) center 10px no-repeat;width:35px;height:35px;position:absolute;right:5px;top:23px;cursor:pointer;z-index:9999;}
  .alert_cart span:hover{background-position:center -50px;}
  .main_page_products li .product_image{float:left;margin-right:20px;width:145px;}
  .main_page_products li .product_image a{display:block;}
  .main_page_products li .product_content{overflow:hidden;}
  .main_page_products li a.button, .main_page_products li a.exclusive, .main_page_products li span.exclusive{display:inline-block;margin-right:5px;}
  .column .main_page_products li .inner_content .product_desc{display:block;}
  footer .block{width:100%;}
  footer .block h4{padding:11px 20px 10px 0px;margin-top:0px;margin-bottom:0;position:relative;}
  footer .block h4:hover{cursor:pointer;}
  footer .block h4 i{display:inline-block;position:absolute;right:0;top:12px;}
  footer .modules .block ul{display:none;padding:0px 0 0 0;margin-top:6px;}
  footer .block .list-footer li{padding:0 0 6px;}
  footer .block .list-footer li:last-child{padding-bottom:0;}
  footer .block .list-footer li a{padding-right:10px;}
  footer .modules{padding-top:10px;padding-bottom:30px;}
  .border_sep{border-right:none;border-bottom:1px solid #b3b3b3;margin-bottom:15px;padding-bottom:15px;}
  .mnf_sup_list li .right_side p{float:left;margin:8px 15px 0 0;}
  div#stores_block p.text input{width:286px;height:35px;line-height:35px;padding:1px 1px 1px 10px;}
  .column .block h4 .column_icon_toggle{display:block;float:right;padding:0;margin:2px 0px 0 0;}
  .column .block h4{margin-bottom:15px;}
  .column .block h4:hover{cursor:pointer;}
  #right_column.column .toggle_content, #left_column.column .toggle_content{margin-bottom:15px;}
  .products_block ul li a.products_block_img{width:60px;}
  #itempage{float:none;margin:20px 0 0 0;}
  .row_category .category_image{width:50%;}
  #productsSortForm{margin-bottom:10px;}
  #product_comments_block_extra .comments_advices a.read_rew{margin-bottom:10px;border:none;padding-right:0;margin-right:0;}
  p.cart_navigation .exclusive, p.cart_navigation .exclusive_large{float:right;margin-bottom:0px;padding-left:9px;padding-right:9px;}
  #order_steps{width:280px;overflow:hidden;margin:20px auto 20px auto;list-style:none;height:200px!important;}
  #order_steps li.even:first-child{background:#9c9c9c;}
  #order_steps li.even.step_current:first-child{background:#202020;}
  #order_steps li.even{background:url(../img/marker-order2.png) center 0px no-repeat #9c9c9c;}
  #order_steps li.odd{background:url(../img/marker-order2.png) center 0px no-repeat #777777;}
  #order_steps li{float:none;width:280px;height:40px;text-align:center;}
  #order_steps li a, #order_steps li span{display:inline-block;padding:6px 0 0 5px;font:bold 14px "Arial";}
  #order_steps li span{color:#ffffff;font-weight:bold;}
  #order_steps li span span{float:none;color:#ffffff;font-weight:bold;font-size:14px;line-height:14px;text-align:center;}
  #order_steps li.even.step_current{background:#202020;}
  #order_steps li.odd.step_current{background:#202020;}
  #order_steps li a{font-weight:bold;color:#ccc;text-decoration:none;padding:0;}
  #order_steps li a:hover{color:#fff;}
  #availableCarriers_table th{font-size:12px;word-wrap:break-word;white-space:normal;}
  table#cart_summary td.cart_product{padding-right:20px;width:100px;}
  #order-detail-content #cart_summary td.cart .div_cart_quantity_delete a{margin-left:9px;}
  #order-detail-content .title-th.cart_quantity_title{display:none;}
  #compare_shipping_form #compare_shipping .SE_SubmitRefreshCard input{margin-right:10px;margin-bottom:10px;}
  #order-detail-content table td strong{margin-right:7px;}
  #order-detail-content table#cart_summary td{display:table-cell;border-bottom:0;font-size:12px;}
  #order-detail-content table#cart_summary input.cart_quantity_input{width:35px;}
  #order-detail-content table#cart_summary td.cart_product{padding-right:10px;}
  #order-detail-content #cart_summary.multishipping-cart td.cart_quantity{width:100%;}
  table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input{border:1px solid #b3b3b3;width:45px;}
  #order-detail-content table.multishipping-cart td strong{display:block;float:none;font-weight:bold;color:#333;margin-right:7px;clear:both;color:#333333;font-weight:bold;margin-right:7px;padding-bottom:7px;width:100%;}
  #order-detail-content table.multishipping-cart td{display:block!important;border-bottom:0!important;}
  #order-detail-content table.multishipping-cart thead{display:none;}
  .multishipping-cart .cart_quantity{width:auto;overflow:hidden;}
  #order-detail-content table.multishipping-cart td select option{padding:5px;}
  .order_delivery{padding-top:7px;}
  #module-cheque-payment #columns p.cart_navigation a, #module-bankwire-payment #columns p.cart_navigation a{display:block;float:none;text-align:center;}
  #module-cheque-payment #columns p.cart_navigation input, #module-bankwire-payment #columns p.cart_navigation input{float:none;width:100%;text-align:center;}
  #module-bankwire-payment #columns p.cart_navigation input{margin-bottom:20px;}
  #module-referralprogram-program #idTab3 table th{font-size:11px;}
  #module-referralprogram-program #idTab3 table th, #module-referralprogram-program #idTab3 table td{padding-left:2px;word-wrap:break-word;padding-right:2px;}
  #module-referralprogram-program #idTab3, #module-referralprogram-program #idTab1, #module-referralprogram-program #idTab2{overflow:auto;}
  
  #header #header_right {
    padding-top: 220px;
  }
  #search_block_top {
    right: 0px;
    top: 165px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background: #23518B;
  }
  
  #header #header_logo {
    top: 45px;
    left: 20px;
  }
  
  .blockuserinfo a{
    display:none;
  }
  #header_user{
    top:105px;
  }
  
  #logo-title p {
    position: absolute;
    top: 75px;
    left: 94px;
    font-size: 14px;
    color:#3780dc;}
  
  #header-phone a{
      width: 100%;
      top: 105px;
      left: 2px;
      font-size: 18px;
    }
  #header-under-phone{
      width: 100%;
      position: absolute;
      top: 135px;
      left: 2px;
      font-size: 12px;
    }
}

/* mobile view */
@media only screen and (max-width:767px){html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
#header #header_logo{width:220px;}
.yandex-counter{display: none;}
.yandex-count-mobile{
    display: block;
    margin: 0 0 20px 15px;
  }
#header #header_logo img{height:auto;}
#header #header_right{padding-top:220px;}
a.acc_box{display:none;}
.blockuserinfo{right:7px;top:40px;}
#countries_2 .countries_ul, #setCurrency .currencies_ul{width:140px;text-align:left;}
.blockpermanentlinks-header{position:absolute;left:0;top:0px;width:100%;border-radius:0 0 4px 4px;overflow:visible;}
.mobile-link-top{display:block;float:left;padding:3px 15px;height:32px;}
.mobile-link-top h4{margin:0;}
.mobile-link-top h4 .arrow_header_top_menu.arrow_header_top{display:block;position:static;margin:0px auto 0 auto;font-size:21px;text-align:center;}
body#index a.header_links_home, #sitemap a.header_links_sitemap, #contact a.header_links_contact, #cms a.header_links_delivery, #stores a.header_links_store{color:#979797;}
#mobilelink{display:none;list-style:none;width:140px;position:absolute;top:32px;left:15px;z-index:101;}
#mobilelink a{text-transform:capitalize;}
#search_block_top{right:0px;top:165px;width:100%;padding:10px;border-radius:4px;background:#23518B;/* background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #474646 0%, #343434 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #474646), color-stop(100%, #343434));background:-webkit-linear-gradient(top, #474646 0%, #343434 100%);background:-o-linear-gradient(top, #474646 0%, #343434 100%);background:-ms-linear-gradient(top, #474646 0%, #343434 100%);background:linear-gradient(to bottom, #474646 0%, #343434 100%); */}
#search_block_top input.search_query{width:100%;padding-right:53px;border-radius:0;}
#search_block_top a{margin-left:-50px;width:50px;position:relative;z-index:1;border-radius:0;}
#search_block_top a span{display:none;}
#search_block_top a i{display:inline-block;font-size:16px;line-height:30px;}
.alert_cart{background:#000;width:310px;position:fixed;left:50%;top:0;margin-left:-155px;z-index:9998;}
.alert_cart a{display:block;padding:21px 40px 22px 50px;height:85px;font-size:12px;color:#fff;font-weight:bold;position:relative;z-index:9997;}
.alert_cart a:hover{color:#a9a9a9;}
.alert_cart span{background:url(../img/delete_top.png) center 10px no-repeat;width:35px;height:35px;position:absolute;right:5px;top:23px;cursor:pointer;z-index:9999;}
.alert_cart span:hover{background-position:center -50px;}
.main_page_products li .product_image{float:left;margin-right:20px;width:145px;}
.main_page_products li .product_image a{display:block;}
.main_page_products li .product_content{overflow:hidden;}
.main_page_products li a.button, .main_page_products li a.exclusive, .main_page_products li span.exclusive{display:inline-block;margin-right:5px;}
.column .main_page_products li .inner_content .product_desc{display:block;}
footer .block{width:100%;}
footer .block h4{padding:11px 20px 10px 0px;margin-top:0px;margin-bottom:0;position:relative;}
footer .block h4:hover{cursor:pointer;}
footer .block h4 i{display:inline-block;position:absolute;right:0;top:12px;}
footer .modules .block ul{display:none;padding:0px 0 0 0;margin-top:6px;}
footer .block .list-footer li{padding:0 0 6px;}
footer .block .list-footer li:last-child{padding-bottom:0;}
footer .block .list-footer li a{padding-right:10px;}
footer .modules{padding-top:10px;padding-bottom:30px;}
.border_sep{border-right:none;border-bottom:1px solid #b3b3b3;margin-bottom:15px;padding-bottom:15px;}
.mnf_sup_list li .right_side p{float:left;margin:8px 15px 0 0;}
div#stores_block p.text input{width:286px;height:35px;line-height:35px;padding:1px 1px 1px 10px;}
.column .block h4 .column_icon_toggle{display:block;float:right;padding:0;margin:2px 0px 0 0;}
.column .block h4{margin-bottom:15px;}
.column .block h4:hover{cursor:pointer;}
#right_column.column .toggle_content, #left_column.column .toggle_content{margin-bottom:15px;}
.products_block ul li a.products_block_img{width:60px;}
#itempage{float:none;margin:20px 0 0 0;}
.row_category .category_image{width:50%;}
#productsSortForm{margin-bottom:10px;}
#product_comments_block_extra .comments_advices a.read_rew{margin-bottom:10px;border:none;padding-right:0;margin-right:0;}
p.cart_navigation .exclusive, p.cart_navigation .exclusive_large{float:right;margin-bottom:0px;padding-left:9px;padding-right:9px;}
#order_steps{width:280px;overflow:hidden;margin:20px auto 20px auto;list-style:none;height:200px!important;}
#order_steps li.even:first-child{background:#9c9c9c;}
#order_steps li.even.step_current:first-child{background:#202020;}
#order_steps li.even{background:url(../img/marker-order2.png) center 0px no-repeat #9c9c9c;}
#order_steps li.odd{background:url(../img/marker-order2.png) center 0px no-repeat #777777;}
#order_steps li{float:none;width:280px;height:40px;text-align:center;}
#order_steps li a, #order_steps li span{display:inline-block;padding:6px 0 0 5px;font:bold 14px "Arial";}
#order_steps li span{color:#ffffff;font-weight:bold;}
#order_steps li span span{float:none;color:#ffffff;font-weight:bold;font-size:14px;line-height:14px;text-align:center;}
#order_steps li.even.step_current{background:#202020;}
#order_steps li.odd.step_current{background:#202020;}
#order_steps li a{font-weight:bold;color:#ccc;text-decoration:none;padding:0;}
#order_steps li a:hover{color:#fff;}
#availableCarriers_table th{font-size:12px;word-wrap:break-word;white-space:normal;}
table#cart_summary td.cart_product{padding-right:20px;width:100px;}
#order-detail-content #cart_summary td.cart .div_cart_quantity_delete a{margin-left:9px;}
#order-detail-content .title-th.cart_quantity_title{display:none;}
#compare_shipping_form #compare_shipping .SE_SubmitRefreshCard input{margin-right:10px;margin-bottom:10px;}
#order-detail-content table td strong{margin-right:7px;}
#order-detail-content table#cart_summary td{display:table-cell;border-bottom:0;font-size:12px;}
#order-detail-content table#cart_summary input.cart_quantity_input{width:35px;}
#order-detail-content table#cart_summary td.cart_product{padding-right:10px;}
#order-detail-content #cart_summary.multishipping-cart td.cart_quantity{width:100%;}
table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input{border:1px solid #b3b3b3;width:45px;}
#order-detail-content table.multishipping-cart td strong{display:block;float:none;font-weight:bold;color:#333;margin-right:7px;clear:both;color:#333333;font-weight:bold;margin-right:7px;padding-bottom:7px;width:100%;}
#order-detail-content table.multishipping-cart td{display:block!important;border-bottom:0!important;}
#order-detail-content table.multishipping-cart thead{display:none;}
.multishipping-cart .cart_quantity{width:auto;overflow:hidden;}
#order-detail-content table.multishipping-cart td select option{padding:5px;}
.order_delivery{padding-top:7px;}
#module-cheque-payment #columns p.cart_navigation a, #module-bankwire-payment #columns p.cart_navigation a{display:block;float:none;text-align:center;}
#module-cheque-payment #columns p.cart_navigation input, #module-bankwire-payment #columns p.cart_navigation input{float:none;width:100%;text-align:center;}
#module-bankwire-payment #columns p.cart_navigation input{margin-bottom:20px;}
#module-referralprogram-program #idTab3 table th{font-size:11px;}
#module-referralprogram-program #idTab3 table th, #module-referralprogram-program #idTab3 table td{padding-left:2px;word-wrap:break-word;padding-right:2px;}
#module-referralprogram-program #idTab3, #module-referralprogram-program #idTab1, #module-referralprogram-program #idTab2{overflow:auto;}
.yandex-share{
  margin: 50px 0 20px 0;
}
#header #header_logo {
  top: 45px;
  width: 220px;
  left: 40px;
}

.blockuserinfo a{
  display:none;
}
#header_user{
  top:105px;
}

#logo-title p {
  position: absolute;
  top: 75px;
  left: 104px;
  font-size: 14px;
  color:#3780dc;}
  
#header-phone a{
  top: 105px;
  right: 136px;
  font-size: 18px;
}
#header-under-phone{
    position: absolute;
    top: 136px;
    right: 136px;
    font-size: 12px;
  }
}


@media only screen and (max-width:480px){#languages_block_top span.lang, #currencies_block_top p.inner-carrencies span{display:none;}
#languages_block_top{right:83px;}
#header_user #shopping_cart a{width:auto;background:none;padding-left:10px;}
#header_user #shopping_cart .shopping_cart_title, #header_user #shopping_cart .ajax_cart_no_product{display:none !important;}
#header_user #shopping_cart a .icon-shopping-cart{display:inline-block;font-size:19px;margin-right:8px;}
#header #cart_block{top:133px;}
#subcategories ul li a.lnk_more_sub{min-height:34px;}
.main_page_products li .product_image{float:left;margin-right:20px;width:120px;}
.main_page_products li .product_image a{display:block;}
.main_page_products li .product_content{overflow:visible;}
.main_page_products li .button{float:left;}
.main_page_products li .exclusive{float:left;clear:left;margin-right:15px;}
#history #block-history .footable-cell-detail .btn{margin-bottom:10px;}
.btn{white-space:normal;}
#instant_search_results .title_shop_block{width:100%;text-align:left;float:none;display:block;margin-top:5px;}
#instant_search_results .title_shop_block a{font-size:11px;}
#order-detail-content table#cart_summary td.cart_product a img{width:120px;}
.b2b-jumbotron h1{font-size: 36px; line-height: 1.2em;}
.b2b-jumbotron p{font-size: 20px;}
}
@media only screen and (min-width:480px) and (max-width:767px){#mobilelink{width:178px;}
#countries_2 .countries_ul, #setCurrency .currencies_ul{width:179px;}
.alert_cart{width:420px;left:50%;margin-left:-210px;}
.products_block ul li > div{width:348px;}
p.cart_navigation .exclusive, p.cart_navigation .exclusive_large{float:right;margin-bottom:0px;margin-right:0px;}
table#cart_summary td.cart_product{width:146px;}
table#cart_summary .min-with-td{display:inline-block;font-weight:normal;min-width:100px;}
table#cart_summary td.tdfirst{width:77%;}
}

/* Ipad view */

@media only screen and (min-width:768px) and (max-width:991px){#languages_block_top span.lang, #currencies_block_top p.inner-carrencies span{display:none;}
#languages_block_top{right:80px;}
footer #newsletter_block_left input.inputNew{width:114px;}
.main_page_products li.first_item_of_tablet_line{clear:left;}
#product_comparison .product_image_div a img{width:70px;}
#product_comparison .product_image_div span{width:30px;}
#product_comparison th{white-space:normal;padding:5px;text-align:center;}
.products_block ul li > div{width:90px;}
.products_block ul li a.products_block_img{width:55px;}
.products_block ul li .reduction{margin-left:0;margin-right:0;}
table#cart_summary td.tdfirst{width:83%;}
.multishipping-cart .cart_ref{padding:5px!important;}
table.multishipping-cart td{padding:5px !important;}
.addresses #id_address_delivery{width:100%;}
#cart_summary.multishipping-cart #cart_quantity_button a{clear:both;}
table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input{clear:both;border-top:none;border-bottom:none;border-right:1px solid #CCC;border-left:1px solid #CCC;width:45px;}
table#cart_summary.multishipping-cart #cart_quantity_button{float:none !important;margin:0 auto;width:45px;}
.yandex-share{
  margin: 50px 0 20px 0;
}
.footer-phone div a{
  font-size:18px;
  }
  .yandex-count-mobile{
    display:none;
  }
  .footer-phone p{
    font-size: 12px;
  }
  a.acc_box{
    display:none;
  }
  .login-button{
    display:none;
  }

  #header #header_logo {
      display: block;
      position: absolute;
      left: 0px;
      top: 16px;}
  #header #header_logo img {
    max-width: 70%;
  }
  #logo-title p{
    top:60px;
    font-size:16px;
    left: 71px;
  }
  #header #header_right{
    padding: 95px 0px 0px 0px; 
  }
  #search_block_top{
    top:122px;
    right:10px;
  }
  #header_user{
    top:26px;
  }
  #header-phone a{
    top: 26px;
    right: 250px;
    font-size: 20px;
  }
  #header-under-phone{
    position: absolute;
    top: 65px;
    right: 250px;
    font-size: 13px;
  }
}



@media only screen and (min-width:992px) and (max-width:1199px){.products_block ul li > div{width:120px;}
footer #newsletter_block_left input.inputNew{width:165px;}
#search_block_top input.search_query
{
    width:220px;
}
}
@media only screen and (min-width:767px){footer .block ul.toggle_content{display:block !important;height:100% !important;opacity:1 !important;}
}

/* laptop view */
@media only screen and (min-width:992px){.main_page_products li.first_item_of_line{clear:left;}
    .yandex-count-mobile{
    display: none;
  }
    .yandex-counter{
    marging: 0px 0px;
  }
  .email-sub{
    margin-bottom: 10px!important; 
  }
  .block-accordions{
      margin-bottom: 0px;
  }
/* large monitor view */
}
@media only screen and (min-width:1200px){.container{padding-left:0;padding-right:0;}
}